
<!DOCTYPE HTML>
<html>
<head>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
exportEnabled: true,
animationEnabled: true,
theme: "light1", // "light1", "light2", "dark1", "dark2"
title:{
text: "Count of Tokens Traded Last Month Details {{LastMonthDate}}"
},
axisY: {
title: "Total"
    //interval: 100
},
  dataPointMaxWidth : 50,

data: [{
type: "pie",
startAngle: 25,
toolTipContent: "<b>{label}</b>: {y}",
showInLegend: "true",
legendText: "{label}",
indexLabelFontSize: 16,
indexLabel: "{label} - {y}",

/*type: "column",
showInLegend: true,
legendMarkerColor: "grey",
legendText: "Count details",*/
    /*showInLegend: true,
    legendText: "Gold",
       color: "pink",*/

    dataPoints: [
      {{#each users}}
      { y:{{Token}},  label:"{{token}}" },
      {{/each}}
]

}]
});
chart.render();

}
</script>



</head>
<body>
<center><div id="chartContainer" style="height: 300px; width: 40%; "></div>
{{#with user}}{{LastMonthDate}}{{/with}}
</center>
<br><br><br><br><br>

<!--<br>
<div id="chartContainer1" style="height: 300px; width: 100%; "></div><br><br><br><br><br>-->

</body>
</html>
