<h3> {{{message}}} </h3>
<h1> {{{title}}}</h1>

<h2> Show details of a single user </h2>

<div class="singleform">
  <form name="login-page", method="get" action="login">
    <div class="input"> <span>Please enter the username</span><br>
    </div>
    <input type="text" name="username" ><br><br>
	<span>Please enter the password</span><br>
	<input type="text" name="password" >
    <div class="actions">

    </div>

    <br>
    <input type="submit" value="Submit">
  </form>
</div>
