extend layout
block content
  h3
    | #{message}
  p
  h1= title
    div.details
     h2 Show an alert when a customer makes transactions which are more than 10k USD (configurable value) in a day
    form(name="rule-two", method="get" action="ruletwoqueryresult")
        div.input
            span.label Please enter the USD Value per day <br><br>
            input(type="text", name="transactionvalue")
        div.actions<br>
            <br>
            input(type="submit", value="submit")
block sidebar
