<h3> {{{message}}} </h3>
<h1> {{{title}}}</h1>

<h2> Show details of a single transaction </h2>

<div class="singleform">
  <form name="single-transaction", method="get" action="singletransactionqueryresult">
    <div class="input"> <span>Please enter the id of the transaction</span><br>
    </div>
    <input type="text" name="id" >
    <div class="actions">

    </div>

    <br>
    <input type="submit" value="Submit">
  </form>
</div>
